{{!-- <ul>
  {{#each todos}}
  <li>
    <input type="checkbox" name="isDone" {{#if this.isDone }} checked {{/if}} disabled>
    {{this.name}}
    <a href="./todos/{{ this._id }}">detail</a>
    <a href="./todos/{{ this._id }}/edit">edit</a>
    <form method="POST" action="./todos/{{ this._id }}?_method=DELETE" style="display: inline;">
      <button type="submit">delete</button>
    </form>
  </li>
  {{/each}}
</ul> --}}

<ul class="list-group">
  {{#each todos}}
  <li class="list-group-item">
    <div class="row">
      {{!-- checkbox --}}
      <div class="col-auto me-auto">
        <input style="vertical-align: middle;" type="checkbox" name="isDone" {{#if this.isDone }} checked {{/if}}
          disabled>
        {{!-- title --}}
        <h4 style="display: inline; vertical-align: middle;">
          {{ this.name }}
        </h4>
      </div>
      {{!-- button --}}
      <div class="col-auto">
        <a class="btn btn-secondary" href="./todos/{{ this._id }}">detail</a>
        <a class="btn btn-success" href="./todos/{{ this._id }}/edit">edit</a>
        <form action="./todos/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
          <button class="btn btn-danger" type="submit">delete</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>